_**주식시장 Code정보**_
    
        - 에스원 : 012750
        - HDC 아이콘트롤스 : 039570
        - 경동나비엔 : 009450 
        - 현대리바트 : 079430
        - 엘지전자 : 066570
        - 삼성전자 : 005930
        - 지에스건설 : 006360
        - 에스케이텔레콤 : 017670
        - 케이티 : 030200
        - 엘지유플러스 : 032640

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
def cr_df(company, number = 2):
    # list_1
    df_save = []
    recent_date = ['2021-01-31']
    df_save.append(pd.DataFrame(recent_date, columns=['date']))
    # list_2
    params = []
    for i in range(number):
        params.append({
            'access_key': '21ab33d30ae3b6ebcb1e5727a699f17d',
            'date_to' : df_save[i]['date'].tail(1)
        })
        api_result = requests.get(f'https://api.marketstack.com/v1/tickers/{company}/eod', params[i])
        api_response = api_result.json()
        df_save.append(pd.DataFrame(api_response['data']['eod']))
    return pd.concat(df_save).drop(index=0).reset_index().drop_duplicates("date", keep="first")

In [3]:
stock_info = ['에스원 012750', 
              'HDC아이콘트롤스 039570',
              '경동나비엔 009450', 
              '현대리바트 079430',
              '엘지전자 066570',
              '삼성전자 005930',
              '지에스건설 006360',
              '에스케이텔레콤 017670',
              '케이티 030200',
              '엘지유플러스 032640']

stock_name_list = []
stock_code_list = []
for i in range(len(stock_info)):
    sl = stock_info[i].split(' ')
    stock_name_list.append(sl[0])
    stock_code_list.append(sl[1])
stock_name_list , stock_code_list

(['에스원',
  'HDC아이콘트롤스',
  '경동나비엔',
  '현대리바트',
  '엘지전자',
  '삼성전자',
  '지에스건설',
  '에스케이텔레콤',
  '케이티',
  '엘지유플러스'],
 ['012750',
  '039570',
  '009450',
  '079430',
  '066570',
  '005930',
  '006360',
  '017670',
  '030200',
  '032640'])

In [4]:
def c_str(tx):
    return tx + '.XKRX'
symbols = pd.Series(stock_code_list).to_frame()[0].apply(c_str)

Sk_by_comp = []
sym_list = symbols.tolist()
for stock in range(10):
    Sk_by_comp.append(cr_df(sym_list[stock], number = 53))
    Sk_by_comp[stock]['symbol'] = np.repeat(stock_name_list[stock], len(Sk_by_comp[stock]), axis=0)

In [10]:
# 확인하고자 하는 해당 회사정보, index를 기입
# Sk_by_comp[4].tail(1)['date']
print('Company    ','   index &last_date')
print(65*'-')
for i in range(len(stock_info)):
    print(Sk_by_comp[i]['symbol'][0], Sk_by_comp[i].tail(1)['date'])

Company        index &last_date
-----------------------------------------------------------------
에스원 5246    1999-09-22T00:00:00+0000
Name: date, dtype: object
HDC아이콘트롤스 1310    2015-09-24T00:00:00+0000
Name: date, dtype: object
경동나비엔 5246    1999-10-05T00:00:00+0000
Name: date, dtype: object
현대리바트 3752    2005-11-23T00:00:00+0000
Name: date, dtype: object
엘지전자 4640    2002-04-24T00:00:00+0000
Name: date, dtype: object
삼성전자 5246    1999-10-21T00:00:00+0000
Name: date, dtype: object
지에스건설 5246    1999-10-26T00:00:00+0000
Name: date, dtype: object
에스케이텔레콤 5246    1999-10-22T00:00:00+0000
Name: date, dtype: object
케이티 5246    1999-10-26T00:00:00+0000
Name: date, dtype: object
엘지유플러스 5016    2000-10-06T00:00:00+0000
Name: date, dtype: object

In [8]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: D421-46C3

 C:\Users\이준희\Documents\api_D_try 디렉터리

2021-02-23  오후 03:15    <DIR>          .
2021-02-23  오후 03:15    <DIR>          ..
2021-02-22  오후 09:34    <DIR>          .ipynb_checkpoints
2021-02-23  오후 03:14    <DIR>          Data
2021-02-23  오후 03:15             6,802 Stock_EDA_1.ipynb
2021-02-22  오후 08:58            62,292 Tr_toget_info_kor.ipynb
               2개 파일              69,094 바이트
               4개 디렉터리  367,676,510,208 바이트 남음

In [19]:
for i in range(9):
    df_name = stock_name_list[i]
    Sk_by_comp[i].to_csv(f'Data/{df_name}.csv',index=False)
    Sk_by_comp_n.append(pd.read_csv(f'Data/{df_name}.csv'))

----------------------------------------------------------------------------------------------