<h3><center><font color = "blue">스마트 홈 관련 코스피 상장사 중 테마주 정보를 중심으로 'Efficient Frontier' 제시</font></h3> 
<h4><p style='text-align: right;'><font color = "blue">(산업분석을 목표로)</font></p></h4>   

_**관련 주식시장 Code정보**_
    
        - 에스원 : 012750
        - HDC 아이콘트롤스 : 039570
        - 경동나비엔 : 009450 
        - 현대리바트 : 079430
        - 엘지전자 : 066570
        - 삼성전자 : 005930
        - 지에스건설 : 006360
        - 에스케이텔레콤 : 017670
        - 케이티 : 030200
        - 엘지유플러스 : 032640

In [9]:
import requests
import pandas as pd
import numpy as np

import os

In [2]:
def cr_df(company, number = 2):
    # list_1
    df_save = []
    recent_date = ['2021-01-31']
    df_save.append(pd.DataFrame(recent_date, columns=['date']))
    # list_2
    params = []
    for i in range(number):
        params.append({
            'access_key': '21ab33d30ae3b6ebcb1e5727a699f17d',
            'date_to' : df_save[i]['date'].tail(1)
        })
        api_result = requests.get(f'https://api.marketstack.com/v1/tickers/{company}/eod', params[i])
        api_response = api_result.json()
        df_save.append(pd.DataFrame(api_response['data']['eod']))
    return pd.concat(df_save).drop(index=0).reset_index().drop_duplicates("date", keep="first")

In [3]:
stock_info = ['에스원 012750', 
              'HDC아이콘트롤스 039570',
              '경동나비엔 009450', 
              '현대리바트 079430',
              '엘지전자 066570',
              '삼성전자 005930',
              '지에스건설 006360',
              '에스케이텔레콤 017670',
              '케이티 030200',
              '엘지유플러스 032640']

stock_name_list = []
stock_code_list = []
for i in range(len(stock_info)):
    sl = stock_info[i].split(' ')
    stock_name_list.append(sl[0])
    stock_code_list.append(sl[1])
# stock_name_list , stock_code_list

(['에스원',
  'HDC아이콘트롤스',
  '경동나비엔',
  '현대리바트',
  '엘지전자',
  '삼성전자',
  '지에스건설',
  '에스케이텔레콤',
  '케이티',
  '엘지유플러스'],
 ['012750',
  '039570',
  '009450',
  '079430',
  '066570',
  '005930',
  '006360',
  '017670',
  '030200',
  '032640'])

In [4]:
# 해당 주식정보 불러오기
def c_str(tx):
    return tx + '.XKRX'
symbols = pd.Series(stock_code_list).to_frame()[0].apply(c_str)

Sk_by_comp = []
sym_list = symbols.tolist()
for stock in range(10):
    Sk_by_comp.append(cr_df(sym_list[stock], number = 53))
    Sk_by_comp[stock]['symbol'] = np.repeat(stock_name_list[stock], len(Sk_by_comp[stock]), axis=0)

In [34]:
# 파일 csv변환 및 변환된 파일 불러오기
Sk_by_comp_n = []
for i in range(10):
    sk_name = stock_name_list[i]
    Sk_by_comp[i].to_csv(f'Data/skinfo_{sk_name}.csv',index=False)
    Sk_by_comp_n.append(pd.read_csv(f'Data/skinfo_{sk_name}.csv'))
# 파일 저장상태 확인
def get_file_list_title(sk_name):
    file_list = []
    for root, dirs, files in os.walk("Data/"):
        for filename in files:
            if filename.startswith(f'skinfo_{sk_name}'):
                file_list.append(filename)
    return sorted(file_list)
for i in range(10):
    print(get_file_list_title(stock_name_list[i]))

['skinfo_에스원.csv']
['skinfo_HDC아이콘트롤스.csv']
['skinfo_경동나비엔.csv']
['skinfo_현대리바트.csv']
['skinfo_엘지전자.csv']
['skinfo_삼성전자.csv']
['skinfo_지에스건설.csv']
['skinfo_에스케이텔레콤.csv']
['skinfo_케이티.csv']
['skinfo_엘지유플러스.csv']

In [41]:
# 원하는 관련회사 인덱스 기입 및 해당 데이터 확인
Sk_by_comp_n[0].tail(1) # Example

,index,date,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,symbol,exchange
5246,99,1999-09-22T00:00:00+0000,26230.827,26230.827,25466.8223,25848.8245,49556.12,NaN,NaN,17258.5479,NaN,NaN,에스원,XKRX

In [37]:
# 각 회사의 마지막 주식 날짜정보 확인
print('Company    ','   index &last_date')
print(65*'-')
for i in range(len(stock_info)):
    print(Sk_by_comp_n[i]['symbol'][0], Sk_by_comp_n[i].tail(1)['date'])

Company        index &last_date
-----------------------------------------------------------------
에스원 5246    1999-09-22T00:00:00+0000
Name: date, dtype: object
HDC아이콘트롤스 1310    2015-09-24T00:00:00+0000
Name: date, dtype: object
경동나비엔 5246    1999-10-05T00:00:00+0000
Name: date, dtype: object
현대리바트 3752    2005-11-23T00:00:00+0000
Name: date, dtype: object
엘지전자 4640    2002-04-24T00:00:00+0000
Name: date, dtype: object
삼성전자 5246    1999-10-21T00:00:00+0000
Name: date, dtype: object
지에스건설 5246    1999-10-26T00:00:00+0000
Name: date, dtype: object
에스케이텔레콤 5246    1999-10-22T00:00:00+0000
Name: date, dtype: object
케이티 5246    1999-10-26T00:00:00+0000
Name: date, dtype: object
엘지유플러스 5016    2000-10-06T00:00:00+0000
Name: date, dtype: object

----------------------------------------------------------------------------------------------