In [2]:
import pandas as pd
import numpy as np
import requests

In [19]:
def cr_df(company, number = 2):
    # list_1
    df_save = []
    recent_date = ['2020-12-31']
    df_save.append(pd.DataFrame(recent_date, columns=['date']))
    # list_2
    params = []
    for i in range(number):
        params.append({
            'access_key': '21ab33d30ae3b6ebcb1e5727a699f17d',
            'date_to' : df_save[i]['date'].tail(1)
        })
        api_result = requests.get(f'https://api.marketstack.com/v1/tickers/{company}/eod', params[i])
        api_response = api_result.json()
        df_save.append(pd.DataFrame(api_response['data']['eod']))
    return pd.concat(df_save).drop(index=0).reset_index().drop_duplicates("date", keep="first")

In [21]:
Sk_by_comp = []
comp_list = ['015710','039010']
for stock in range(2):
    Sk_by_comp.append(cr_df(comp_list[stock]))

KeyError: 'data'

In [200]:
# 확인하고자 하는 해당 회사정보, index를 기입
Sk_by_comp[1]

,index,date,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,symbol,exchange
0,1,2020-12-30T00:00:00+0000,135.58,135.9900,133.4000,133.72,96452124.0,135.990000,133.400000,133.720000,135.580000,96452124.0,AAPL,XNAS
1,2,2020-12-29T00:00:00+0000,138.05,138.7890,134.3409,134.87,121047324.0,138.789000,134.340900,134.870000,138.050000,121047324.0,AAPL,XNAS
2,3,2020-12-28T00:00:00+0000,133.99,137.3400,133.5100,136.69,123124632.0,137.340000,133.510000,136.690000,133.990000,123124632.0,AAPL,XNAS
3,4,2020-12-24T00:00:00+0000,131.32,133.4600,131.1000,131.97,54930064.0,133.460000,131.100000,131.970000,131.320000,54930064.0,AAPL,XNAS
4,5,2020-12-23T00:00:00+0000,132.16,132.4300,130.7800,130.96,88223692.0,132.430000,130.780000,130.960000,132.160000,88223692.0,AAPL,XNAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,95,2020-03-26T00:00:00+0000,246.52,258.6800,246.3600,258.44,63140169.0,257.997840,245.710329,257.758473,245.869907,63140169.0,AAPL,XNAS
194,96,2020-03-25T00:00:00+0000,250.75,258.2500,244.3000,245.52,75900510.0,257.568974,243.655761,244.872544,250.088752,75900510.0,AAPL,XNAS
195,97,2020-03-24T00:00:00+0000,236.36,247.6900,234.3000,246.88,71882773.0,247.036822,233.682132,246.228958,235.736700,71882773.0,AAPL,XNAS
196,98,2020-03-23T00:00:00+0000,228.08,228.4997,212.6100,224.37,84188208.0,227.897128,212.049330,223.778318,227.478535,84188208.0,AAPL,XNAS
197,99,2020-03-20T00:00:00+0000,247.18,251.8300,228.0000,229.24,100423346.0,251.165904,227.398746,228.635476,246.528167,100423346.0,AAPL,XNAS

----------------------------------------------------------------------------------------------